# Virtual Environments
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
dist/
*.egg-info/

# Old bash
old_bash/

# personnal workaround
local_workaround.txt


